Package: com.whitenightchan.nothankyoutube
Name: NoThankYouTube
Description: Customize YouTube to show only the elements you want to see.
Version: 0.0.1
Architecture: iphoneos-arm
Maintainer: WhiteNightChan
Author: WhiteNightChan
Section: Tweaks
Depends: ellekit