Package: com.whitenightchan.byebyecommunitypostmaybe
Name: Bye Bye Community Post Maybe
Description: Hide YouTube Community Posts.
Version: 0.0.1
Architecture: iphoneos-arm
Maintainer: WhiteNightChan
Author: WhiteNightChan
Section: Tweaks
Depends: ellekit